#particle-canvas {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(174, 174, 174);
  background-image: url("https://raw.githubusercontent.com/JulianLaval/canvas-particle-network/master/img/demo-bg.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

.mytest{
  z-index: 10;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 200px; */
  gap:50px;
  
}
.mytest > div{
  color: white;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
}


.settings{
  color:white;
  position: relative;
  font-size: 75px;
  animation: mymove 5s linear infinite;
}
.link-head{
  font-size: 20px;
}

.link-head:hover{
  color: #06A3DA;
  user-select: none;
  cursor: pointer;
}

@keyframes mymove {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
*{
  box-sizing: initial;
}